<template>
    <div v-if="match">
        <div id="currentMatch" class="text-center">
            <div class="row">
                <div class="col-md-12">
                    <h1>Current Match</h1>
                    <div class="row">
                        <div class="col-md-12">
                            {{ match.home_name }} {{ match.score }} {{ match.away_name }} &nbsp; {{ match.time }}<span v-if="match.status == 'IN PLAY' || match.status == 'ADDED TIME'">'</span> &nbsp; <div class="live"><span class="liveIndicator animate-flicker"></span><p>live</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="progress">
            <div
                :aria-valuenow="completedMinutes"
                class="progress-bar" 
                role="progressbar" 
                aria-valuemin="0" 
                :aria-valuemax="totalMinutes" 
                :style="percentageWidth(percentage, status)">
            </div>
        </div>
    </div>
</template>


<script>
export default {
  data () {
    return {
      completedMinutes: 0,
      totalMinutes: 90,
      status: "NOT STARTED",
      match: '',
      percentage: 0,
      flags: ''
    }
  },
  methods: {
    // loadFlags: function () {

    // },
    loadData: function () {
        axios.get("/api/livescore").then(response => {
            this.match = response.data[0],
            this.completedMinutes = parseFloat(this.match.time),
            this.status = this.match.status
            this.percentage = this.completedMinutes / this.totalMinutes * 100
        });
    },
    percentageWidth: function (percentage, status) {
        if(status == "HALF TIME BREAK")
            return "width: 50%;"
        else
            return "width:"+percentage+"%;"
    }
  },
  mounted: function () {
    this.loadData();

    setInterval(function () {
        this.loadData();
    }.bind(this), 10000);
  }
}
</script>