
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@keyframes fadeIn { 
  from { opacity: 0.2; } 
}

.animate-flicker {
    animation: fadeIn 0.8s infinite alternate;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.live {
  display: inline-block;
  
  .liveIndicator {
    background-color: #8EC312;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
  }

  p {
    display: inline-block;
    font-size: 10px;
    text-transform: uppercase;
    margin-left: 4px;
  }
}

.progress {
  height: 5px;
  border-radius: 10px;
}
.progress-bar {
  background: linear-gradient(to right, #ffd85c 0%,#ffabac 100%);
  border-radius: 10px;
}